.skillHolder {
    display: flex;
    align-items: center;
  
    .cont {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  
  .bar {
    width: 100%; /* Full width */
    background-color: white; /* Grey background */
    border-radius: 100px;
  }
  
  .qty {
  
    border-radius: 100px;
    color: black;
    font-weight: 900;
  }
  
  .html {
    width: 80%;
    text-align: center;
    background: linear-gradient(132deg, rgba(239,167,48,1) 40%, rgba(42,42,42,1) 100%);;
  }
  
  h4{
      text-align: center;
      color: #efa730;
  }